<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      ITINERIES
    </ion-title>
    <ion-buttons end *ngIf="list_itineries">
      <button ion-button icon-only (click)="create()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons end *ngIf="!list_itineries">
      <button ion-button icon-only (click)="list()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="list_itineries">
    <ion-item-sliding *ngFor="let itinery of itineries" class="results_list_mobile indent_results" style="height:100%;">

        <button ion-item>
          <div class="col_full">
            <h1 style="color: blue;">{{itinery.title}} - {{itinery.nights}}N / {{itinery.days}}D</h1>
            <h2><ion-icon name="pizza"></ion-icon> <b>Plan:</b> &nbsp; {{itinery.plan}} </h2>
            <h2><ion-icon name="map"></ion-icon> <b>Country:</b> &nbsp; {{itinery.international}} </h2>
            <h2><ion-icon name="locate"></ion-icon> <b>State:</b> &nbsp; 
              <span *ngFor="let sstate of itinery.sstate"> {{sstate.id}}, </span> 
            </h2>
            <h2><ion-icon name="pricetags"></ion-icon> <b>Package:</b> &nbsp; {{itinery.package_type}} </h2>
          </div>
        </button>
     
        <ion-item-options side="right">
          <button ion-button style="background-color:#ffc900;" (click)="edit(itinery)">
            <ion-icon name="create"></ion-icon> &nbsp; Edit
          </button>
          <button ion-button style="background-color: #11c1f3;" (click)="view(itinery)">
            <ion-icon name="eye"></ion-icon> &nbsp; View
          </button>
        </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-card class="booking_card" *ngIf="view_itineries" style="padding:15px;">
      <h1 style="text-align:center;">{{selected_itinery.title}} </h1>
      <br>
      <h2> <b>Nights: </b> {{selected_itinery.nights}} </h2>
      <br>
      <h2> <b>Days: </b> {{selected_itinery.days}} </h2>
      <br>
      <h2> <b>Country: </b> {{selected_itinery.international}} </h2>
      <br>
      <h2> <b>State: </b> 
          <span *ngFor="let sstate of selected_itinery.sstate"> {{sstate.id}}, </span> 
      </h2>
      <br>
      <h2> <b>Plan: </b> {{selected_itinery.plan}} </h2>
      <br>
      <h2> <b>Description: </b> {{selected_itinery.description}} </h2>
  </ion-card>

  <ion-list no-lines *ngIf="create_itineries || edit_itineries">

    <form [formGroup]="itineryForm">
 
        <!-- Title of Itinery -->
        <ion-item>
            <ion-label floating><ion-icon name="person"></ion-icon> &nbsp; Title*</ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <p class="errorMessage" *ngIf="!itineryForm.controls.title.valid  && (itineryForm.controls.title.dirty || submitAttempt)">
          Please enter a valid Title
        </p>

        <!-- Plan of Itinery -->
        <ion-list>
          <ion-item> 
              <ion-label> <ion-icon name="pizza"></ion-icon> &nbsp; Plan </ion-label>
              <ion-select formControlName="plan">
                <ion-option value="AP">AP</ion-option>
                <ion-option value="CP">CP</ion-option>
                <ion-option value="MAP">MAP</ion-option>
                <ion-option value="Others">Others</ion-option>
              </ion-select>
          </ion-item>
        </ion-list>

        <!-- Nights of Itinery -->
        <ion-item>
            <ion-label floating><ion-icon name="person"></ion-icon> &nbsp; Nights*</ion-label>
            <ion-input type="text" formControlName="nights"></ion-input>
        </ion-item>
        <p class="errorMessage" *ngIf="!itineryForm.controls.nights.valid  && (itineryForm.controls.nights.dirty || submitAttempt)">
          Please enter a valid Night
        </p>
        
        <!-- Days of Itinery -->
        <ion-item>
            <ion-label floating><ion-icon name="person"></ion-icon> &nbsp; Days*</ion-label>
            <ion-input type="text" formControlName="days"></ion-input>
        </ion-item>
        <p class="errorMessage" *ngIf="!itineryForm.controls.days.valid  && (itineryForm.controls.days.dirty || submitAttempt)">
          Please enter a valid Day
        </p>

        <!-- Country of Itinery -->
        <ion-list>
          <ion-item> 
              <ion-label> <ion-icon name="map"></ion-icon> &nbsp; Country* </ion-label>
              <ion-select #country formControlName="international">
                <ion-option *ngFor="let country of countries" value="country.name">{{country.name}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-list>

        <!-- State of Itinery -->
        <ion-list>
          <ion-item> 
              <ion-label> <ion-icon name="locate"></ion-icon> &nbsp; State* </ion-label>
              <ion-select #country formControlName="sstate" multiple="true">
                <ion-option *ngFor="let sstate of allStates" value="sstate.id">{{sstate.label}}</ion-option>
              </ion-select>
          </ion-item>
        </ion-list>

        <!-- Package Type of Itinery -->
        <ion-list>
          <ion-item> 
              <ion-label> <ion-icon name="pricetags"></ion-icon> &nbsp; Package Type </ion-label>
              <ion-select formControlName="package_type">
                <ion-option value="Resort Package">Resort Package</ion-option>
                <ion-option value="Day Return Package">Day Return Package</ion-option>
                <ion-option value="Other">Other</ion-option>
              </ion-select>
          </ion-item>
        </ion-list>

        <!-- Description of Itinery  -->
        <ion-item>
            <ion-label floating><ion-icon name="albums"></ion-icon> &nbsp; Description</ion-label>
            <ion-textarea rows="10" type="text" formControlName="description"></ion-textarea>
        </ion-item>
        <p class="errorMessage" *ngIf="!itineryForm.controls.description.valid  && (itineryForm.controls.description.dirty || submitAttempt)">
          Please enter a valid Description
        </p>


        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
 
        <div class="gm_drawer_footer_wrapper">
          <button (click)="save()" ion-button class="btn-success" style="width:100%">SAVE</button>
        </div>

        <br><br><br>

    </form>
 
  </ion-list>


</ion-content>
