<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>ENQUIRIES</ion-title>
    <ion-buttons end *ngIf="list_enquiries">
      <button ion-button icon-only (click)="create()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons end *ngIf="!list_enquiries">
      <button ion-button icon-only (click)="list()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="list_enquiries">
    <ion-item-sliding *ngFor="let enquiry of enquiries" class="results_list_mobile indent_results" style="height:100%;" class="{{findBackgroundClass(enquiry)}}">

        <button ion-item>
          <div class="col_full">
            <h2><ion-icon name="calendar"></ion-icon> <b>Enquiry Date:</b> &nbsp; {{enquiry.created | date:'dd/MMM/yyyy'}}</h2>
            <h2><ion-icon name="information-circle"></ion-icon> <b>Enquiry ID:</b> &nbsp; {{enquiry.enquiry_id}}</h2>
            <h2><ion-icon name="person"></ion-icon> <b>Enquired By:</b> &nbsp; {{enquiry.enquiry_by}}</h2>
            <h2><ion-icon name="school"></ion-icon> <b>School Name:</b> &nbsp; {{enquiry.school_name}}</h2>
            <h2><ion-icon name="mail"></ion-icon> <b>Email:</b> &nbsp; {{enquiry.school_email_id}}</h2>
            <h2><ion-icon name="call"></ion-icon> <b>Phone No:</b> &nbsp; {{enquiry.school_phone_no}}</h2>
            <h2><ion-icon name="contacts"></ion-icon> <b>Contact Person:</b> &nbsp; {{enquiry.school_contact_person}}</h2>
            <h2><ion-icon name="repeat"></ion-icon> <b>Same School:</b> &nbsp; {{countSimilarSchool(enquiry.school_name)}}</h2>
          </div>
        </button>
     
        <ion-item-options side="right">
          <button ion-button style="background-color:#ffc900;" (click)="edit(enquiry)">
            <ion-icon name="create"></ion-icon> &nbsp; Edit
          </button>
          <button ion-button style="background-color: #11c1f3;" (click)="view(enquiry)">
            <ion-icon name="eye"></ion-icon> &nbsp; View
          </button>
        </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <div *ngIf="view_enquiries">
    <ion-card class="booking_card"  style="padding:15px;">
        <h2><b>School Name:</b> &nbsp; {{selected_enquiry.school_name}}</h2>
        <br>
        <h2><b>School Email:</b> &nbsp; {{selected_enquiry.school_email_id}}</h2>
        <br>
        <h2><b>Contact Person:</b> &nbsp; {{selected_enquiry.school_contact_person}}</h2>
        <br>
        <h2><b>School Phone:</b> &nbsp; {{selected_enquiry.school_phone_no}}</h2>
        <br>
        <h2><b>School GPRS:</b> &nbsp; {{selected_enquiry.school_gprs}}</h2>
        <br>
        <h2><b>School Photo:</b> &nbsp; {{selected_enquiry.school_photo}}</h2>
        <br>
        <h2><b>School Address:</b> &nbsp; {{selected_enquiry.school_address}}</h2>
        <br>
        <h2><b>Enquiry By:</b> &nbsp; {{selected_enquiry.enquiry_by}}</h2>
    </ion-card>

    <ion-card class="booking_card" style="padding:15px;" *ngFor="let enquiry of selected_enquiry.enquiries">
        <h2><b>Itinery:</b> &nbsp; {{enquiry.itineries}}</h2>
        <br>
        <h2><b>Plan:</b> &nbsp; {{enquiry.plan}}</h2>
        <br>
        <h2><b>Mode of transport:</b> &nbsp;
          <span ng-repeat="enq in enquiry.transport"> {{enq}}, </span>
        </h2>
        <br>
        <h2><b>Food:</b> &nbsp;
          <span ng-repeat="enq in enquiry.food"> {{enq}}, </span>
        </h2>
        <br>
        <h2><b>Accomodation:</b> &nbsp;
            <span ng-repeat="enq in enquiry.accomodation"> {{enq}}, </span>
        </h2>
        <br>
        <h2><b>Sharing:</b> &nbsp;
            <span ng-repeat="enq in enquiry.sharing"> {{enq}}, </span>
        </h2>
        <br>
        <h2><b>Package type:</b> &nbsp;
            <span ng-repeat="enq in enquiry.package_type"> {{enq}}, </span>            
        </h2>
        <br>
        <h2><b>Class:</b> &nbsp; {{enquiry.school_class}}</h2>
        <br>
        <h2><b>Remarks:</b> &nbsp; {{enquiry.remarks}}</h2>
    </ion-card>
  </div>

</ion-content>
